body {
  color: #40ead3;
  margin: 0 auto;
  max-width: 780px;
  background-image: url("img/scuff.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
}

header {
  margin: 40px 20px 20px 20px;
  color: #40ead3;
  font-size: 40px;
  font-family: times,serif;
  position: relative;
  text-align: center;
}

.nav {
  margin: 20px 20px 20px 30px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #40ead3;
  font-size: 20px;
  font-family: times, serif;
  font:size: 30px;

}

h1 {
  color: #40ead3;
  text-align: center;
  font-family: times, serif;
}

blockquote, cite  {
  margin: 20px 40px 20px 40px;
  font-size: 15px;
  text-align: left;
  position: relative;
}

.statement {
  margin: 40px 40px;
  text-align: left;
}

.ME {
  margin: 20px 40px 20px 40px;
  text-align: left;
}

p {
  font-size: 20px;
}

.left, ul {
  color: #40ead3;
  text-align: left;
  font-family: times, serif;

}

h3, p {
  text-align: center;

}

footer {
  color: #40ead3;
  margin: 0 auto;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background: url("img/Blu-BKGD");

}

a:link {
  color: #40ead3;
  text-decoration: underline;

}

a:hover {
  color: red;
}
